nav {
    margin-top: 1%;
}

.appear {
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#brandTopLeft {
    float: left;
    z-index: 1;
    display: inline;
    height: 10.5vh;
    margin-left: 5vw;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.navbar {
    text-align: right;
    color: white;
    font-size: 20pt;
    padding: 3px;
    justify-content: flex-end;
    z-index: 1; /* stack order top */
    display: inline;
    /* position: absolute; */
    float: right;
    margin-right: clamp(350px, 15vw, 400px); /* min, preferred, max */
    justify-content: center;
    animation-name: appear;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

/** to edit fixed position */
.navbarMobile {
    border: 2px solid blue;
    color: white;
    font-size: 11pt;
    position: fixed;
    justify-content: flex-end;
    z-index: 1; /* stack order top */
    display: inline;
    float: right;
    right: 100px;
    margin-top: -20px;
    justify-content: center;
    animation-name: appear;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

.navbarItem {
    display: inline;
    position: relative;
    padding-right: 20%;
    margin-top: 15px;
    padding-top: 10px;
    letter-spacing: 1px;
    font-family: Cambria;
}

.navbarMobileItem {
    margin-right: 10%;
    position: absolute;
    display: block;
    margin-top: 15px;
    padding-top: 0px;
    letter-spacing: 1px;
    font-family: Cambria;
}

#musicLinkTop {
    box-shadow: inset 0 0 0 0 #024112;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    
}

.navbarMobileItem#musicLinkTop {
    box-shadow: inset 0 0 0 0 #024112;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    margin-right: 30vw;
}

#musicLinkTop:hover {
    text-decoration: underline;
    box-shadow: inset 100px 0 0 0 #c6eee5;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#blogLinkTop {
    box-shadow: inset 0 0 0 0 #0770e9;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

.navbarMobileItem#blogLinkTop {
    box-shadow: inset 0 0 0 0 #0770e9;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    margin-right: 30vw;
    margin-top: 4.7vh;
}

#blogLinkTop:hover {
    text-decoration: underline;
    box-shadow: inset 100px 0 0 0 #a7a8ee;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

#aboutLinkTop {
    box-shadow: inset 0 0 0 0 #a76502;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}

.navbarMobileItem#aboutLinkTop {
    box-shadow: inset 0 0 0 0 #a76502;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
    margin-right: 30vw;
    margin-top: 7.5vh;
}

#aboutLinkTop:hover {
    text-decoration: underline;
    box-shadow: inset 100px 0 0 0 #dbc19b;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.navbarItem#socialsLinkTop {
    box-shadow: inset 0 0 0 0 #410205;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
}

.navbarMobileItem#socialsLinkTop {
    box-shadow: inset 0 0 0 0 #410205;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    margin-right: 30vw;
    margin-top: 10.5vh;
}

#socialsLinkTop:hover {
    text-decoration: underline;
    box-shadow: inset 100px 0 0 0 #db9ba0;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

