.App {
  text-align: center;
}

.fadingBackgrounds {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fadingBackgrounds img {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 40s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

@keyframes fade {
  0% {
    opacity: 1;
    filter:opacity(100%);
  }
  12.5% {
    opacity: 0;
    filter:opacity(0%);
  }
  25% {
    opacity: 0;
    filter:opacity(0%);
  }
  37.5% {
    opacity: 0;
    filter:opacity(0%);
  }
  50% {
    opacity: 0;
    filter:opacity(0%);
  }
  62.5% {
    opacity: 0;
    filter:opacity(0%);
  }
  75% {
    opacity: 0;
    filter:opacity(0%);
  }
  87.5% {
    opacity: 0;
    filter:opacity(0%);
  }
}

.f1 {
  -webkit-animation-delay: -35s;
  animation-delay: -35s;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 40s; /* total duration of the animating background */
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 40s; /* total duration of the animating background */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.f2 {
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
}
.f3 {
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
}
.f4 {
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
}
.f5 {
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
}
.f6 {
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}
.f7 {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}
.f8 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}