.App {
  text-align: center;
  font-family: Cambria;
}

.fadingBackgrounds {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.fadingBackgrounds img {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 40s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

@keyframes fade {
  0% {
    opacity: 1;
    filter:opacity(100%);
  }
  12.5% {
    opacity: 0;
    filter:opacity(0%);
  }
  25% {
    opacity: 0;
    filter:opacity(0%);
  }
  37.5% {
    opacity: 0;
    filter:opacity(0%);
  }
  50% {
    opacity: 0;
    filter:opacity(0%);
  }
  62.5% {
    opacity: 0;
    filter:opacity(0%);
  }
  75% {
    opacity: 0;
    filter:opacity(0%);
  }
  87.5% {
    opacity: 0;
    filter:opacity(0%);
  }
}

.f1 {
  -webkit-animation-delay: -35s;
  animation-delay: -35s;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 40s; /* total duration of the animating background */
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 40s; /* total duration of the animating background */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.f2 {
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
}
.f3 {
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
}
.f4 {
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
}
.f5 {
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
}
.f6 {
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}
.f7 {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}
.f8 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearPartial {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

.appear {
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.appearSlow {
  animation-name: appear;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
}

#brand {
  opacity: 0.5;
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  width: 300px;
  height: 150px;
  top: 7%;
  margin: auto;
  animation-name: appearPartial;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.homePanel {
  opacity: 0.5;
  z-index: 1;
  position: fixed;
  left: 0%;
  right: 0%;
  top: 30%;
  color: white;
  margin: auto;
  animation-name: appearPartial;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.homeNav {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  font-size: 19pt;
}

.homeNavMobile {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  font-size: 13pt;
}

.introText {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 6%;
  background-color: rgba(0,0,0, 0.1);
}

.panelItem {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  font-family: Cambria;
}

#musicLink {
  box-shadow: inset 0 0 0 0 #024112;
-webkit-transition: all ease 0.8s;
-moz-transition: all ease 0.8s;
transition: all ease 0.8s;
}

#musicLink:hover {
  text-decoration: underline;
  box-shadow: inset 100px 0 0 0 #c6eee5;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#blogLink {
  box-shadow: inset 0 0 0 0 #0770e9;
-webkit-transition: all ease 0.8s;
-moz-transition: all ease 0.8s;
transition: all ease 0.8s;
}

#blogLink:hover {
  text-decoration: underline;
  box-shadow: inset 100px 0 0 0 #a7a8ee;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#aboutLink {
  box-shadow: inset 0 0 0 0 #a76502;
-webkit-transition: all ease 0.8s;
-moz-transition: all ease 0.8s;
transition: all ease 0.8s;
}

#aboutLink:hover {
  text-decoration: underline;
  box-shadow: inset 100px 0 0 0 #dbc19b;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

#socialsLink {
  box-shadow: inset 0 0 0 0 #410205;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

#socialsLink:hover {
  text-decoration: underline;
  box-shadow: inset 100px 0 0 0 #db9ba0;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.musicPageContent {
  color: white;
  position: relative;
  margin-top: max(25vh, 150px);
  text-align: center;
  margin-bottom: 15%;
}

.colContainer {
  margin-top: max(15vh, 170px);
}

.songTitle {
  list-style-position: inside;
  margin-left: -60px;
}

.indivTitle {
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}


/**** Video container css */

.videoContainer {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  margin-bottom: 15vh;
}

iframe {
  margin-left: 20%;
  vertical-align: top; 
  display: inline-block;
  max-width: 40vw;
  max-height: 30vh;
  border: .1px solid white
}

/** Socials Page style sheet **/
.socialPanels {
  position: relative;
  margin-top: max(45vh, 150px);
  text-align: center;
  color: white;
  margin-bottom: 20%;
}

.mobileSocialPanels {
  position: relative;
  margin-top: min(45vh, 200px);
  text-align: center;
  color: white;
  margin-bottom: 20%;
}

.mobileSocialPanel {
  position: relative;
  margin-top: 100px;
  text-align: center;
  color: white;
}

.socialPanel {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

.socialsText {
  margin-left: 10px;
  letter-spacing: 2px;
  font-size: 16pt;
}

#footerFixed {
  opacity: 0.5;
  z-index: 1;
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 1%;
  text-align: center;
  color: white;
  margin: auto;
  animation-name: appearPartial;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#footer {
  opacity: 0.5;
  z-index: 1;
  position: relative;
  bottom: min(2vh, 5px);
  text-align: center;
  color: white;
  margin: auto;
  animation-name: appearPartial;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}